
 body {
    font-family: serif;
    background-color: whitesmoke;
 }
 header {
    background-color: rgb(30, 3, 71);
    padding: 10px 0;
    text-align: right;

 }
 header ul {
    list-style-type: none;
 } 
 header ul li {
    display: inline;
    margin: 0 15px;
 }
 header ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
 }
 .shop {
    text-align: center;
    margin: 40px 0;
 } 
 .shop-btn {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
 }
 .shop-btn:hover {
    background-color: green;
 }
 .featured-products {
    text-align: center;
    margin: 40px 0;
 }
 .featured-products h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
 }
 .product-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
 }
.product {
    background-color: white;
    padding: 20px;
    border: 1;
    
 } 

 footer {
    background-color: rgb(30, 3, 71);
    color: white;
    padding: 20px 0;
    text-align: center;
 }
 .footer-content p {
    margin: 5px 0;
 }
  .social-links {
    list-style: none;
    padding: 0;
    margin: 10px 0;
 }
 .social-links li {
    display: inline;
    margin: 0 10px;
 }
 .social-links a {
    color: white;
    text-decoration: none;
 }
 .social-links a:hover {
    text-decoration: underline;
 } 
  